<!doctype html>
<html>
<header>
    <title>Vue demo</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"> </header>

<body>
    <!--navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a href="" class="navbar-brand"> <i class="glyphicon glyphicon-bullhorn">Vue Events Bulletin</i> </a>
        </div>
    </nav>
    <!--main body-->
    <div class="container" id="events">
        <!--add form-->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Add an event</h3> </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="event name" v-model="event.name"> </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="event description" v-model="event.description"> </textarea>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" placeholder="date" v-model="event.date"> </div>
                    <button class="btn btn-primary" v-on:click="addEvent">Submit</button>
                </div>
            </div>
        </div>
        <!--show the form-->
        <div class="col-sm-6">
            <div class="list-group">
                <a href="" class="list-group-item" v-for="(event, index) in events">
                    <h4 class="list-group-item-heading">
                        <i class="glyphicon glyphicon-bullhorn"></i>
                        {{event.name}}
                    </h4>
                    <h5>
                        <i class="glyphicon glyphicon-calendar" v-if="event.date"></i>
                        {{event.date}}
                    </h5>
                    <p class="list-group-item text" v-if="event.description"> {{event.description}} </p>
                    <button class="btn btn-xs btn-danger" v-on:click="deleteEvent($index)"> Delete </button>
                </a>
            </div>
        </div>
    </div>
    <!--js-->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js">
    </script>
    <script src="app.js"></script>
</body>

</html>